<%= form_for @changeset, page_path(@conn, :results), fn f -> %>
  <div class="form-group">
    <label class="control-label col-md-4">First name:</label>
    <div class="col-md-8">
      <%= text_input f, :first %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-4">Last name:</label>
    <div class="col-md-8">
      <%= text_input f, :last %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-4">Domain:</label>
    <div class="col-md-8">
      <%= text_input f, :domain %>
    </div>
  </div>
  <div class="form-group">
    <%= submit "Check" %>
  </div>
<% end %>
