<p>First name: <%= @first %></p>
<p>Last name: <%= @last %></p>
<p>Domain: <%= @domain %></p>
<div>
  <%= if @emails_find != [] do %>
    <h3>Emails found:</h3>
    <table class="table">
      <%= for email <- @emails_find do %>
      <tr>
        <td><%= email %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
  <%= if @emails_find == [] do %>
    <p><b>0 emails found </b></p>
  <% end %>
</div>
